* {
  margin: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

/* Секция калькулятора */
.calc-text {
  color: blueviolet;
  text-align: center;
  padding-bottom: 20px;
}
.calk-section {
  border: brown 2px solid;
  border-radius: 10px;
  padding: 50px;
  background-color: rgb(223, 197, 197);
}
.del {
  text-align: center;
}
.calk-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  padding-bottom: 30px;
  border-bottom: brown 1px solid;
}
.button-click {
  width: 21%;
  font-size: 30px;
  margin-top: 20px;
  color: blueviolet;
  background-color: rgb(201, 217, 247);
  border: blueviolet 2px solid;
  border-radius: 5px;
}
.calk-input {
  display: flex;

  justify-content: space-around;
  padding-top: 30px;
}
.input-click {
  border: blueviolet 2px solid;
  width: 30%;
  color: blueviolet;
  font-size: 30px;
  border-radius: 5px;
}
.result-section {
  width: 100%;
  padding: 30px 0 0 0;
}
.calk-result {
  margin-left: 50%;
  font-size: 30px;
  color: blueviolet;
}
.operation {
  color: blueviolet;
  font-size: 30px;
}

/* Секция введения данных роверров */

.error-input {
  color: rgb(136, 13, 13);
  padding-bottom: 10px;
  height: 50px;
  padding-left: 25%;
}
.span-error {
  color: rgb(158, 158, 211);
}

.inputSol {
  color: blueviolet;
  border-color: rgb(97, 19, 170);
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
}
.inputSol::placeholder {
  color: #212529;
  opacity: 0.4;
}
.inputSol:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(100, 130, 190, 0.25);
}

.input-rover {
  width: 33%;
  display: inline-block;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(158, 158, 211);
  border-radius: 10px;
}
.inner-input-rover {
  text-align: center;
}
.select {
  border: none;
  color: blueviolet;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
}
.select:focus {
  color: rgb(45, 121, 15);
}
.button-rover {
  text-align: center;
  margin: 20px 0 20px 0;
  width: 100%;
}
.buttonInDayFoto {
  border-radius: 10px;
  color: azure;
  background-color: rgb(117, 75, 156);
  font-size: 25px;
  width: 30%;
}

/* Секция слайдера */

.input-block {
  display: inline;
}
.left-button {
  margin-top: 180px;
  width: 130px;
  height: 130px;
  background: white;
  border-radius: 50%;
  border-color: rgb(178, 178, 238);
  font-size: 100px;
  color: rgb(83, 83, 138);
}
.right-button {
  width: 130px;
  height: 130px;
  margin-top: 180px;
  background: white;
  border-radius: 50%;
  border-color: rgb(178, 178, 238);
  font-size: 100px;
  color: rgb(83, 83, 138);
}
h1 {
  margin: 30px 0 30px 0;
  text-align: center;
  font-size: 40px;
  color: rgb(57, 4, 107);
}
.header {
  margin: 10px 30px 0 10px;
  text-align: left;
  font-size: 20px;
}
.is-slider {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 30px 0;
}
.img-slider {
  object-fit: cover;
  width: 700px;
  height: 450px;
  box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
}
h2 {
  text-align: center;
  color: rgb(57, 4, 107);
}
/* Секция Фото Дня */

/* .crop-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.crop-container img {
  margin-top: 0;
  margin-left: 0;
} */
.crop-container {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.in-dayFoto {
  text-align: center;
}
.inputInDayFoto {
  display: block;
  width: 20%;
  color: blueviolet;
  border-color: rgb(97, 19, 170);
  padding: 5px;
  margin-left: 40%;
  margin-bottom: 20px;
  font-size: 20px;
  border-radius: 5px;
  font-size: 20px;
}
.inputInDayFoto:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(100, 130, 190, 0.25);
}
/* Секция околоземных объектов */

@keyframes move1 {
  from {
    left: 800px;
  }
  to {
    left: 670px;
  }
}
.rolling-stone {
  margin: 10px;
  height: 20px;
  width: 20px;
  background-color: rgb(143, 40, 184);
  border-radius: 50%;
  display: inline-block;
  animation: move1 0.7s infinite alternate;
  position: absolute;
  opacity: 0;
}

@keyframes move {
  from {
    left: 1200px;
    transform: scale(1);
  }
  to {
    left: 0px;
    transform: scale(0.2);
  }
}
.imgKeyframes {
  animation: move 30s infinite alternate;
  position: absolute;
}
table {
  margin-left: 5%;
  width: 90%;
  border-radius: 10px;
  text-align: center;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
  margin-bottom: 50px;
}
.near-objects {
  width: 47%;
  display: inline-block;
}
.count {
  width: 100%;
  font-size: 25px;
  text-align: center;
  color: rgb(57, 4, 107);
  margin-top: 30px;
}
td {
  padding: 10px;
  text-align: center;
}
th {
  font-size: 20px;
  padding: 5px;
  background-color: aquamarine;
}
.tooltip {
  position: fixed;
  font-size: 20px;
  padding: 15px;
  border: 2px #b3c9ce;
  border-radius: 4px;
  text-align: center;
  color: #333;
  background: #fff;
  box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
}
.fieldset {
  /* background-color: rgb(195, 159, 230); */
  box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
  border: 2px rgb(126, 60, 192);
  color: rgb(57, 4, 107);
  font-size: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
}
