*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Секция калькулятора */
.calc-text {
  color: blueviolet;
  text-align: center;
  padding-bottom: 20px;
}
.calk-section {
  border: brown 2px solid;
  border-radius: 10px;
  padding: 50px;
  background-color: rgb(223, 197, 197);
}
.del {
  text-align: center;
}
.calk-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  padding-bottom: 30px;
  border-bottom: brown 1px solid;
}
.button-click {
  width: 21%;
  font-size: 30px;
  margin-top: 20px;
  color: blueviolet;
  background-color: rgb(201, 217, 247);
  border: blueviolet 2px solid;
  border-radius: 5px;
}
.calk-input {
  display: flex;

  justify-content: space-around;
  padding-top: 30px;
}
.input-click {
  border: blueviolet 2px solid;
  width: 30%;
  color: blueviolet;
  font-size: 30px;
  border-radius: 5px;
}
.result-section {
  width: 100%;
  padding: 30px 0 0 0;
}
.calk-result {
  margin-left: 50%;
  font-size: 30px;
  color: blueviolet;
}
.operation {
  color: blueviolet;
  font-size: 30px;
}

/* Секция введения данных роверров */

.inputSol {
  color: blueviolet;
  border-color: rgb(97, 19, 170);
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
}
.inputSol::placeholder {
  color: #212529;
  opacity: 0.4;
}
.inputSol:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(100, 130, 190, 0.25);
}

.input-rover {
  width: 33%;
  display: inline-block;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(158, 158, 211);
  border-radius: 10px;
}
.inner-input-rover {
  text-align: center;
}
.select {
  border: none;
  color: blueviolet;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
}
.select:focus {
  color: rgb(45, 121, 15);
}
.button-rover {
  text-align: center;
  padding: 30px;
  width: 100%;
}
.buttonInDayFoto {
  border-radius: 10px;
  color: azure;
  background-color: rgb(117, 75, 156);
  font-size: 25px;
  width: 30%;
}

/* Секция слайдера */
.input-block {
  display: inline;
}
.left-button {
  margin-top: 180px;
  background: rgb(216, 216, 235);
  border-radius: 30%;
  border-color: rgb(214, 214, 248);
  font-size: 50px;
  color: rgb(83, 83, 138);
}
.right-button {
  margin-top: 180px;
  background: rgb(216, 216, 235);
  border-radius: 30%;
  border-color: rgb(214, 214, 248);
  font-size: 50px;
  color: rgb(83, 83, 138);
}
h1 {
  text-align: center;
  font-size: 40px;
  color: rgb(57, 4, 107);
}
.header {
  text-align: left;
  font-size: 20px;
}
.is-slider {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 30px 0;
}
.img-slider {
  object-fit: cover;
  width: 700px;
  height: 450px;
}
h2 {
  text-align: center;
  color: rgb(57, 4, 107);
}
/* Секция Фото Дня */

.in-dayFoto {
  text-align: center;
}
.inputInDayFoto {
  display: block;
  text-align: center;

  color: blueviolet;
  border-color: rgb(97, 19, 170);
  padding: 5px;
  margin-left: 35%;
  margin-bottom: 20px;
  font-size: 20px;
  border-radius: 5px;
  font-size: 20px;
}
.inputInDayFoto:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(100, 130, 190, 0.25);
}
/* Секция околоземных объектов */
.near-objects {
  width: 47%;
  display: inline-block;
}
